node_modules/
dist/

# Prisma-generated
src/problem5/prisma/generated/
src/problem5/prisma/migrations/

# Env
.env
.env.local

# Editor
.vscode/
.idea/
.DS_Store

# Logs
*.log
npm-debug.log*

# SQLite
src/problem5/prisma/*.db
src/problem5/prisma/*.db-journal
